<header>
    <div class="header-top">
        <div class="logo">
            <a href="/"> CSE Motors</a>
        </div>
        <div class="account-links">
            My account
        </div>
    </div>
    <div class="navigation">
        <!-- <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Custom</a></li>
            <li><a href="">Sedan</a></li>
            <li><a href="">SUV</a></li>
            <li><a href="">Truck</a></li>
        </ul> -->
        <%- include('./navigation'); %>       
    </div>
</header>