<div class="hero">
    <div class="hero-caption">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders<br>Superman Color<br>Fuzzy Dicel</p>
        <a href="" class="btn btn-primary">Own Today</a>
    </div>
</div>