<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <%- include('../partials/head') %>   
</head>
<body>
    <div class="page-wrapper">
        <%- include('../partials/header'); %>
        <main>
            <%- body %>
        </main>

        <%- include('../partials/footer'); %>
    </div>
    <!-- .page-wrapper -->
</body>
</html>