<h1>Welcome to the CSE Motors!</h1>

<%- include("./partials/hero"); %>

<div class="home-features mt-50">
    <div class="home-column mt-50">
        <h3>Delorean Upgrades</h3>
        <div class="feature-blocks">
            <div class="featured-item mt-25">
                item 1
            </div>
            <div class="featured-item mt-25">
                item 2
            </div>
            <div class="featured-item mt-25">
                item 3
            </div>
            <div class="featured-item mt-25">
                item 4
            </div>
        </div>
    </div>
    <div class="home-column mt-50 reviews-block">
        <h3>DMC delorean reviews</h3>
        <ul>
            <li>"So fast it's almost like travelling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5)/5</li>
            <li>"80's livin and I love it!" (5/5")</li>
        </ul>
    </div>
</div>