<h1>Welcome to the CSE Motors!</h1>

<%- include("./partials/hero"); %>

<div class="home-features mt-25">
    <div class="home-column">
        <h3>Delorean Upgrades</h3>
        <div class="feature-block">
            <div class="featured-item mt-25">
                <div class="item-wrapper"><img src="/images/upgrades/flux-cap.png" loading="lazy" alt="Flux cap car" /></div>
                <a href="">Flux capacitor</a>
            </div>
            <div class="featured-item mt-25">
                <div class="item-wrapper"><img src="/images/upgrades/flame.jpg" loading="lazy" alt="Flame car" /></div>
                <a href="">Flux capacitor</a>
            </div>
            <div class="featured-item mt-25">
                <div class="item-wrapper"><img src="/images/upgrades/bumper_sticker.jpg" loading="lazy" alt="Bumper sticker" /></div>
                <a href="">Bumper sticker</a>
            </div>
            <div class="featured-item mt-25">
                <div class="item-wrapper"><img src="/images/upgrades/hub-cap.jpg" loading="lazy" alt="Hub cap car" /></div>
                <a href="">Hub caps</a>
            </div>
        </div>
    </div>
    <div class="home-column reviews-block">
        <h3>DMC delorean reviews</h3>
        <ul>
            <li>"So fast it's almost like travelling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5)/5</li>
            <li>"80's livin and I love it!" (5/5")</li>
        </ul>
    </div>
</div>