:root {
    --primary-color: #01b0d3;
    --secondary-color: ;
    --tertiary-color: ;
    --accent-color1: ;
    --accent-color2: ;
    --dark-color: ;
    --light-color: ;
    --black-color: #000000;
    --white-color: #FFFFFF;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
li {
    list-style-type: none;
}

body {
    background-image: url('/images/site/checkerboard.jpg');
    background-size: 25%;
    font-family: "Roboto", sans-serif, Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
}

.page-wrapper {
    width: 980px;
    margin: 0 auto;
    margin-top: 25px;
    background-color: var(--white-color);
    border: 5px solid var(--primary-color);
    border-radius: 10px;        
}
header {
    padding: 15px;
}
.header-top {
    display: flex;
    justify-content: flex-end;    
}
.header-top .logo {    
    font-size: 2.25rem;
    font-weight: bolder;
    padding-top: 15px;
}
.account-links {
    align-content: end;
}

.header-top div {
    flex-grow: 4;
}
.navigation {
    margin-top:15px;
    background-color: var(--black-color);
}
.navigation ul {
    display: flex;
    justify-content:space-around;
}
.navigation li {
    text-align: center;
}
.navigation a {
    display: block;
    color: var(--white-color) !important;
    text-decoration: none;
    padding: 10px;
}

main {
    padding: 15px;
}

h1 {
    font-size: 1.85rem;
}

.hero {
    display: flex;
    height: 280px;    
    background: url('/images/vehicles/delorean.jpg') no-repeat center;
}

.hero-caption {
    width: 250px;
    margin-top: 25px;
    margin-left: 50px;
    color: var(--primary-color);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px 25px;
}

.hero h2 {
    
}

.hero a {
    margin-top: 25px;
    font-weight: bolder;
    text-decoration: none;
    color: var(--black-color);
    text-align: center;
}

.home-features {
    display: flex;
}

.home-column {
    flex-basis: 50%;
}

.feature-block {
    display: grid;     
    grid-template-columns: 50% 50%;  
}

.featured-item {    
    margin-right: 15px;
    text-align: center;
    
}
.featured-item a {
    color: var(--black-color);
    text-decoration: none;
}
.item-wrapper {
    display: flex;
    justify-content: center;;
    background-color: var(--primary-color);
    padding: 15px;
    height: 120px;
}
.item-wrapper > a {    
    text-align: center;
    
}
.reviews-block ul {
    margin-left: 20px;
}
.reviews-block ul li {
    list-style-type: square;    
}

.mt-50 {
    margin-top: 50px;
}

.mt-25 {
    margin-top: 25px;
}

@media screen and (max-width:768px) {
    .page-wrapper {
        width: 100%;
    }
    header {
        padding:0;
    }
    h1 {
        padding-left: 25px;
        text-align: left;
    }
    .hero {
        background-position: 120px center;
        background-size: 240px;
    }
    .hero-caption {
        margin-left: 0 !important;
    }
    .home-features {
        flex-direction: column;                
    }
    .reviews-block {
        margin-top: 25px;
    }
    footer {
        text-align: center;
    }
}